.conteiner{
    background-color: lightgreen; /* Fondo verde claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.h1 {
    color: blueviolet;
}

.span{
    font-size: 30px;
    color: rgba(206, 122, 13, 0.911);
}

.span2{
    font-size: 30px;
    color: rgba(206, 122, 13, 0.911);
}